/*background*/
body,
#content,
header,
.user-info {
    background: #32363E !important;
}

#content {
    border: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
a,
span,
.js-vote-count,
.answers-subheader label{
    color: white !important;
}


/*text code*/
.hljs-type,
.hljs-number,
.hljs-title,
.hljs-keyword,
.hljs-comment,
.s-code-block .hljs-string {
    color: red !important;
}


/*hidde elements*/
.js-dismissable-hero,
.zone-container-main,
.js-zone-container,
#left-sidebar,
#sidebar {
    display: none;
}

/*tags*/
.mb12 li a {
    background-color: rgb(93, 93, 93) !important;
}


#mainbar,
.mainbar {
    width: auto !important;
    /*float: none !important ;*/
    /*width: 0 !important ;*/
    /*margin: 0 !important ;*/
    /*padding: 0 !important ;*/
}

.comment-copy code {
    color: black;
}