
body {
    background: #b5b5b5 !important;
}

._399cc, ._3FiYg, ._3VXxf {
    background: rgb(17, 13, 40) !important;
}

._13doy {
    color: black !important;
}

._3xnDt:first-child {
    color: black;
}