/*.l,
.c,
pre,
.jk,
.jl,
.jm,
.jn,
.ek,
.mv,
.mw,
.mx,
.my,
.aw,
.mz,
.bi {
    background-color: #1b1b1b;
}


h1,
h2,
h3,
h4,
h5,
span,
p,
figcaption {
    color: white !important;
}



.highlight{
    background: rgb(40, 40, 40) !important;
}*/