.pGxpHc header,
.RvYhPd,
.ccvoYb,
.P6w8m,
.I87fLc.XzOhkf,
.SMqeCb,
.jTj8gd.XzOhkf .a2Icud,
.Bcbxbe.FwR7Pc,
.k5v5Nb,
.qSb8Pe.KKjvXb,
.qSb8Pe:hover,
.EHzcec,
.GKdr2,
.nbesI,
.AzKM4,
.DLAnyc,
.NBY4Kb,
.VfPpkd-xl07Ob-XxIAqe,
.j27i7,
.gb_Dc,
.LpQB8e,
.Usd1Ac,
.DNFg3e,
.BAZ5oe,
.zLmSvf,
.MmZJl,
#ow226,
.KkbLmb,
.QcsUad {
    background-color: #202124 !important;
}

.RvYhPd::before,
.ySES5,
.KjuTac,
.bvzp8c,
.yFQBKb,
.fMHXgc,
.PG9puc {
    background-color: #161719 !important;
}

.P6w8m.BDJ8fb:not(.Jj6Lae) {
    background-color: #242528 !important;
}

.ksE5nf.EiZ8Dd,
.y9jKHb,
.VfPpkd-LgbsSe-OWXEXe-INsAgc .VfPpkd-Jh9lGc::before,
.VfPpkd-LgbsSe-OWXEXe-INsAgc .VfPpkd-Jh9lGc::after,
.Rj2Mlf .VfPpkd-Jh9lGc::before,
.Rj2Mlf .VfPpkd-Jh9lGc::after,
.VfPpkd-LgbsSe-OWXEXe-INsAgc .VfPpkd-Jh9lGc::before,
.VfPpkd-LgbsSe-OWXEXe-INsAgc .VfPpkd-Jh9lGc::after,
.yUUmWd.VfPpkd-AznF2e-OWXEXe-auswjd .VfPpkd-YVzG2b::before,
.yUUmWd.VfPpkd-AznF2e-OWXEXe-auswjd .VfPpkd-YVzG2b::after {
    background-color: darkgoldenrod !important;
}

.BSw7K.iYelWb .irkilc:not(:disabled),
.BSw7K.MFKVse .hL2wFc:not(:disabled),
.BSw7K.H4CMrb .aiUxpf:not(:disabled),
.VfPpkd-LgbsSe:hover,
.kwsPce:not(:disabled),
.VfPpkd-Jh9lGc:hover,
.oJweqc.KKjvXb,
.oJweqc:hover,
.ksBjEc:not(:disabled) {
    background-color: rgba(184, 135, 11, 0.12) !important;
    /* 12% opacity for GoldenRod */
}

.JLqJ4b.C1N51c,
.JLqJ4b:hover,
.kgnlhe.FwR7Pc,
.MtFg0.FwR7Pc {
    background-color: rgba(184, 135, 11, 0.5) !important;
    /* 30% opacity for GoldenRod */
}

/* Language selection gradient */
.X4DQ0::after {
    background-image: linear-gradient(to right, transparent, #202124) !important;
}

body,
input,
.gb_pa svg,
.TcXXXb,
.cWQYBc .irkilc,
.cWQYBc .hL2wFc,
.cWQYBc,
.aiUxpf,
.VfPpkd-jY41G-V67aGc,
.KmsAmb .tL9Q4c,
.aia4Ud,
.TYVfy,
.uNr6ee,
.S6GkK,
.qSb8Pe,
.v2OCrb,
.EYBmYc,
.XMNbjd,
.q6oraf .VfPpkd-StrnGf-rymPhb,
.AP34ab,
.kgJkHd,
.zRANPd:not(:disabled),
.gb_na svg,
.gb_Dc svg,
.gb_0c .gb_2d,
.gb_Pc .gb_2d,
.qiN4Vb:not(:disabled) .VfPpkd-kBDsod,
.qiN4Vb:not(:disabled),
.j27i7,
.mTQVx,
.kwsPce:not(:disabled):not(:disabled),
.kwsPce:focus:not(:disabled):not(:disabled),
.UHM95,
.CJYaL,
.EXtLjf,
.T6JUYe,
.MYwhef,
.qO3kpb,
.f5heid,
.iflf6,
.PG9pu,
.PG9puc,
.NqnNQd,
.fcuAz,
.c3PRjf div,
.ya52V div,
.kgnlhe.FwR7Pc,
.MtFg0.FwR7Pc,
.trWsae {
    color: #bdc1c6 !important;
}

.ita-kd-icon-button,
.yHy1rc:disabled,
.brilXb,
.nYkDR,
.PsfnLc,
.nIvUSc{
    color: #979A9E !important;
}

.er8xn,
.J0lOec,
.ryNqvb  {
    color: white !important;
}

.MZgjEb,
.xUPQqb,
.UdTY9,
.gYMFrf {
    color: #bdc1c695 !important;
}

.yUUmWd.VfPpkd-AznF2e-OWXEXe-auswjd .VfPpkd-YVzG2b,
.yUUmWd.VfPpkd-AznF2e-OWXEXe-auswjd .VfPpkd-YVzG2b,
.ODAbH,
.eIKIse,
.jodjCb,
.mvqA2c,
.ksBjEc:not(:disabled),
a,
.dgYHDb .VfPpkd-StrnGf-rymPhb-f7MjDc,
.PrVWEc,
.kihvAe,
.zpaZf,
.Rj2Mlf {
    color: darkgoldenrod !important;
}

.I87fLc.XzOhkf,
.jTj8gd.XzOhkf,
.I87fLc:not(.XzOhkf) .Dwvecf,
.ZShpvc,
.zWtKC,
.jTj8gd.XzOhkf .Sp3AF,
.fMHXgc,
.vDGmEc div,
.GKdr2 div,
.gb_Dc div,
.DNFg3e div,
.PsfnLc,
.Bcbxbe,
.zXU7Rb,
.P6w8m,
.RvYhPd::before,
.pGxpHc header {
    border-color: #bdc1c680 !important;
}

.Rj2Mlf:not(:disabled),
.PRdtG .VfPpkd-AznF2e-wEcVzc-OWXEXe-NowJzb,
.lSo1Re .co39ub,
.lSo1Re .Cn087,
.lSo1Re .hfsr6b,
.lSo1Re .EjXFBf,
.ksBjEc .VfPpkd-Jh9lGc::before,
.ksBjEc .VfPpkd-Jh9lGc::after {
    border-color: darkgoldenrod !important;
}

.INImOe {
    fill: #bdc1c6 !important;
}

.kDdZcf {
    opacity: 80%;
}





